<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:com/jsp/context/application-context.xml</param-value>
  </context-param>
  
  <listener>
    <listener-class>com.jsp.listener.ApplicationContextInitListener</listener-class>
  </listener>
  
  <filter>
  		<filter-name>loginCheckFilter</filter-name>
  		<filter-class>com.jsp.filter.LoginCheckFilter</filter-class>
  		<init-param>
  			<param-name>exclude</param-name>
  			<param-value>login</param-value>
  		</init-param>
  </filter>
  <filter-mapping>
  		<filter-name>loginCheckFilter</filter-name>
  		<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
  		<filter-name>sitemesh</filter-name>
  		<filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
  </filter>
  
  <filter-mapping>
  		<filter-name>sitemesh</filter-name>
  		<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <filter>
  		<filter-name>Set Character Encoding</filter-name>
  		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  		<init-param>
  			<param-name>encoding</param-name>
  			<param-value>utf-8</param-value>
  		</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>Set Character Encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>FrontServlet</servlet-name>
    <servlet-class>com.jsp.controller.FrontServlet</servlet-class>
    <init-param>
      <param-name>handlerMapper</param-name>
      <param-value>com.jsp.controller.HandlerMapper</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>500</error-code>
  	<location>/WEB-INF/views/error/500_error.jsp</location>
  </error-page>
  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/views/error/404_error.jsp</location>
  </error-page>
  
</web-app>